{% extends "landingpage/base.html" %}
{% load staticfiles %}
{% block main %}
<div class="container">
  <br>
  <br>

  <div class="Video_Tag">
    <div class="Video" align="center">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/9MMZetYAJTw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>

  <br>
  <br>
  <br>

  <div class="row">
      <div class="col-9">
        <div class="Text_Tag" align="center">
          <span style="color:white; font-size:3.1em; font-family: 'Kaushan Script', cursive;">Sun moon University Students' Union</span>
        </div>
      </div>
      <div class="col-3">
          <div class="Button_Tag" align="center">
            <a class="btn btn-primary" href="#">Next</a>
          </div>
      </div>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>


{% endblock %}
